
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Console_Maker_ExaminationPlatform</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Console</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Main</a></li>
            <li><a href="../..">HomePage</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" id="questions">
        <div class="col-sm-3 col-md-2 sidebar">
          <div class="list-group">
            <button type="button" v-for="(question, index) in questions" class="list-group-item" v-bind:id="index">{{ question.question.num }}</button>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header">{{ name }}
            <button type="button" class="btn btn-primary" style="float:right; width:100px; margin:5px" v-on:click="commit">commit</button>
          </h1>
          <h4>{{ nowTime }} / {{ endTime }} (autocommitted 1min before endTime)</h4>
          <!--Question-->
          <form class="form-horizontal">
            <h2>Question: </h2>
            <h2>{{ show.typet }}</h2>
            <h3>{{ show.question }} </h3>

            <br />

            <div v-if="show.type == 0" v-for="answer in show.answers">
              <input style="width:20px; height:20px" type="radio" v-bind:id="answer.id" v-bind:value="answer.id" v-model="show.answer">
              <label style="font-size:20px;">{{ answer.text }}</label>
            </div>

            <br />

            <div v-if="show.type == 1" v-for="answer in show.answers">
              <input style="width:20px; height:20px" type="checkbox" v-bind:value="answer.id" v-model="show.answer">
              <label style="font-size:20px;">{{ answer.text }}</label>
            </div>

            <br />

            <div v-if="show.type == 2">
              <label style="font-size:20px;">Answer:</label>
              <input v-model="show.answer" class="form-control" maxlength="40">
            </div>

            <br />

            <div v-if="show.type == 3">
              <label style="font-size:20px;">Answer:</label>
              <textarea class="form-control" v-model="show.answer" style="height: 100px;" maxlength="160" ></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../host.js"></script>
    <script src="index.js"></script>
  </body>
</html>
